.layer {
    overflow: scroll; /* Добавляем полосы прокрутки */
    width: 90%; /* Ширина блока */
    height: 200px; /* Высота блока */
    padding: 15px; /* Поля вокруг текста */
    /*margin-top:20px;*/
    border: 1px solid black;
}

.with-background{
    padding: 20px;
}